# vg -stats note book
# Mohammad Silwadi 
# 10/25/2021

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('./vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

1- Which company is the most common video game publisher?

In [2]:
most_common_publisher=df['Publisher'].mode()[0]
most_common_publisher

'Electronic Arts'

2- What’s the most common platform?

In [3]:
most_common_platform=df['Platform'].value_counts().idxmax()
most_common_platform

'DS'

3-What about the most common genre?

In [4]:
most_common_genre=df['Genre'].value_counts().idxmax()
most_common_genre

'Action'

4- What are the top 20 highest grossing games?

In [5]:
df_heighest = df.copy()
most_20_grossing_game=df_heighest[['Rank','Name']].head(20)
most_20_grossing_game

    Rank                                          Name
0      1                                    Wii Sports
1      2                             Super Mario Bros.
2      3                                Mario Kart Wii
3      4                             Wii Sports Resort
4      5                      Pokemon Red/Pokemon Blue
5      6                                        Tetris
6      7                         New Super Mario Bros.
7      8                                      Wii Play
8      9                     New Super Mario Bros. Wii
9     10                                     Duck Hunt
10    11                                    Nintendogs
11    12                                 Mario Kart DS
12    13                   Pokemon Gold/Pokemon Silver
13    14                                       Wii Fit
14    15                                  Wii Fit Plus
15    16                            Kinect Adventures!
16    17                            Grand Theft Auto V
17    18                 Grand Theft Auto: San Andreas
18    19                             Super Mario World
19    20  Brain Age: Train Your Brain in Minutes a Day

5-For North American video game sales, what’s the median?

In [6]:
na_median_sales = df['NA_Sales'].median()
na_median_sales

0.08

 ten games surrounding the median sales output

In [7]:
above = df[df.NA_Sales> na_median_sales].tail(5)
below =df[df.NA_Sales< na_median_sales].head(5)
ten_median_na_seller_names=pd.concat([above,below])
ten_median_na_seller_names

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
10975,10977,Fighting Fantasy: The Warlock of Firetop Mountain,DS,2009.0,Role-Playing,Aspyr,0.09,0.00,0.00,0.01,0.09
10990,10992,I Love Puppies,DS,2010.0,Simulation,Destineer,0.09,0.00,0.00,0.01,0.09
10999,11001,Cake Mania: Main Street,DS,2011.0,Simulation,Majesco Entertainment,0.09,0.00,0.00,0.01,0.09
11003,11005,DaGeDar,DS,2011.0,Action,GameMill Entertainment,0.09,0.00,0.00,0.01,0.09
11012,11014,NERF N-Strike: Double Blast Bundle,Wii,2010.0,Shooter,Electronic Arts,0.09,0.00,0.00,0.00,0.09
137,138,World of Warcraft,PC,2004.0,Role-Playing,Activision,0.07,6.21,0.00,0.00,6.28
214,215,Monster Hunter Freedom 3,PSP,2010.0,Role-Playing,Capcom,0.00,0.00,4.87,0.00,4.87
338,339,Friend Collection,DS,2009.0,Misc,Nintendo,0.00,0.00,3.67,0.00,3.67
348,349,Pro Evolution Soccer 2008,PS2,2007.0,Sports,Konami Digital Entertainment,0.05,0.00,0.64,2.93,3.63
383,384,Monster Hunter 4,3DS,2013.0,Role-Playing,Capcom,0.00,0.00,3.44,0.00,3.44

6-For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [8]:
zscore = (df.head(1)["NA_Sales"]-df["NA_Sales"].mean())/df['NA_Sales'].std()
zscore

0    50.478988
Name: NA_Sales, dtype: float64

7-The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [9]:
print(df['Global_Sales'].mean())
print(df[df['Platform'] == 'Wii']['Global_Sales'].mean())

0.5374406555006628
0.6994037735849057

Come up with 3 more questions that can be answered with this data set.
Q1: what is the date and time of min stop time ?
Q2: What is the worst selling game? ?
Q3: what is the median for other sales?

In [10]:
avg_japan = df['JP_Sales'].mean()
print(avg_japan)
worst_selling = df['Name'][16597]
print(worst_selling)
others_sales_median = df['Other_Sales'].median()
print(others_sales_median)

0.077781660441017
Spirits & Spells
0.01

In [11]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher,'Electronic Arts')
    assert_equal(most_common_platform,'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(most_20_grossing_game.iloc[0].Name, 'Wii Sports')
    assert_equal(most_20_grossing_game.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.08)
    assert_equal(ten_median_na_seller_names.iloc[1].Name, 'I Love Puppies')

    print("Success!!!")

test()

Success!!!